client_id=""
client_secret=""
common_tags = {
    Name = "-hashidemos"
    Owner = ""
    Purpose = "Demo Terraform and Vault"
    Terraform = "true"
    }
license=""
location="westeurope"
prefix="kapil-webapp" # may only contain alphanumeric characters and dashes and must be 21 chars or less
public_key=""
subscription_id=""
tenant_id=""