prefix              = "andy-webapp"
location            = "westus2"
owner               = "andy"
public_key          = ""
subscription_id     = ""
tenant_id           = ""
client_id           = ""
client_secret       = ""
vault_client_id     = ""
vault_client_secret = ""